.Partners {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 30px;
  margin: 20px 0;
}

.Partners .left img {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.Partners .left .con {
  display: flex;
}

.Partners .left h3 {
  padding: 5px;
  background-color: red;
  text-align: center;
  color: white;
}

.Partners .left .con article {
  background-color: gray;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.Partners .right {
  background-color: gray;
  color: white;
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .Partners {
    grid-template-columns: 1fr;
  }
}
